<launch>
  <!-- Frames of reference. -->
  <arg name="fixed_frame" default="world" />
  <arg name="sensor_frame" default="base_link" />

  <!-- Topics. -->
  <arg name="sensor_topic" default="/scan" />
  <arg name="vis_topic" default="/vis/map" />

  <!-- Dimensions and bounds. -->
  <arg name="x_num" default="100" />
  <arg name="x_min" default="-10.0" />
  <arg name="x_max" default="10.0" />
  <arg name="y_num" default="100" />
  <arg name="y_min" default="-10.0" />
  <arg name="y_max" default="10.0" />

  <!-- Mapper node. -->
  <node name="runtime"
        pkg="our_pkg"
        type="runtime.py"
        output="screen">

    <param name="frames/fixed" value="$(arg fixed_frame)" />
    <param name="frames/sensor" value="$(arg sensor_frame)" />

    <param name="topics/vis" value="$(arg vis_topic)" />
    <param name="topics/sensor" value="$(arg sensor_topic)" />

    <param name="x/num" value="$(arg x_num)" />
    <param name="x/min" value="$(arg x_min)" />
    <param name="x/max" value="$(arg x_max)" />
    <param name="y/num" value="$(arg y_num)" />
    <param name="y/min" value="$(arg y_min)" />
    <param name="y/max" value="$(arg y_max)" />
  </node>
</launch>
